/* Descendent */
div h3 {
    color: magenta;
}

/* Direct Children*/
section > h3{
    color: darkgreen;
}

/* General Sibling Selector */
h2 ~ p{ /*this will get all of the following elements instead of one.*/
    color: cornflowerblue;
}

/* Adjacent Siblings */
h2 + p{ /* this will applied in each p next to an h2*/
    color: brown;
}

/*Note: the order matters, since adjacent siblings is below general siblings this will overwrite it*/