/* Reset Browser settings */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Setting general CSS' Size */
html{
    font-size: 62.5%; /*now 1.0rem = 10px*/
}

/* Descendent */
div h3 {
    color: magenta;
}

/* Direct Children*/
section > h3{
    color: darkgreen;
}

/* General Sibling Selector */
h2 ~ p{ /*this will get all of the following elements instead of one.*/
    color: cornflowerblue;
}

/* Adjacent Siblings */
h2 + p{ /* this will applied in each p next to an h2*/
    color: brown;
}

/* first child Pseudo-selector */
div h2:first-child{
    color:orchid;
}

/* only child pseudo-selector */
section h2:only-child{
    color: salmon;
}

/* Measurement */
/*Note: now al measures will be set using rem*/
/*
body{
    font-size: 30px;
    font-size: 3rem;
}
*/
div{
    font-size: 2.4rem;
}

section{
    font-size: 2.1rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
}
/*Note: The order applies after priorities example: div h2:first-child has same priority than section h2:only-child*/
/*Note: the order matters, since adjacent siblings is below general siblings this will overwrite it*/