/* Descendent */
div h3 {
    color: magenta;
}

/* Direct Children*/
section > h3{
    color: darkgreen;
}

/* General Sibling Selector */
h2 ~ p{ /*this will get all of the following elements instead of one.*/
    color: cornflowerblue;
}

/* Adjacent Siblings */
h2 + p{ /* this will applied in each p next to an h2*/
    color: brown;
}

/* first child Pseudo-selector */
div h2:first-child{
    color:orchid;
}

/* only child pseudo-selector */
section h2:only-child{
    color: salmon;
}

/* Measurement */

body{
    font-size: 30px;
}

div{
    font-size: .8em;
}

section{
    font-size: .7em;
}

h2{
    font-size: 3em;
}

p{
    font-size: 1em;
}
/*Note: The order applies after priorities example: div h2:first-child has same priority than section h2:only-child*/
/*Note: the order matters, since adjacent siblings is below general siblings this will overwrite it*/